
{% block content %}
<form id="new-rolha-form" class="bg-white p-6 rounded-lg shadow-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div >
            <label for="id_cuba" class="block text-sm font-medium text-gray-700">ID</label>
            <input type="number" id="id_cuba" name="id_cuba" class="mt-1 border border-gray-200 p-2 rounded-lg  h-8 block w-full h  shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
        <div>
            <label for="material" class="block text-sm font-medium text-gray-700">Material</label>
            <input type="text" id="material" name="material" class="mt-1 border border-gray-200 p-2 rounded-lg  h-8 block w-full h  shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
        <div>
            <label for="formato" class="block text-sm font-medium text-gray-700">Formato</label>
            <input type="text" id="formato" name="formato" class="mt-1 border border-gray-200 p-2 rounded-lg  h-8 block w-full h  shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
    </div>

    <div class="mt-6 flex flex-col gap-y-4">
        <button type="reset" id="add-item" class="mt-4 px-4 py-2 status-button por-pagar ">Recomeçar</button>
        <button type="submit" hx-post="/rotaParaSalvar" hx-target="#resultado" hx-swap="outerHTML" class="px-4 py-2 status-button qb close-modal">Salvar</button>
    </div>
</form>

{% endblock %}