{% block content %}
<form id="new-fornecimento-form" action="/novoFornecimento" method="POST"  class="bg-white p-6 rounded-lg shadow-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label for="nome" class="block text-sm font-medium text-gray-700">Nome Fornecedor</label>
            <input type="text" id="nome" name="nome" class="mt-1 border border-gray-200 p-2 rounded-lg h-8 block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
        
        {% if tipos_rolhas %}
        <div>
            <label for="tipo" class="block text-sm font-medium text-gray-700">Tipo Rolha</label>
            <select id="tipo" name="tipo" class="mt-1 border border-gray-200 rounded-lg p-1 h-8 block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
                <option value="">Selecione um tipo de rolha</option>
                {% for rolha in tipos_rolhas %}
                    <option value="{{ rolha.id }}">
                        {{ rolha.material }} - {{ rolha.formato }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% else %}
            <p>Nenhum tipo de rolha encontrado</p>
        {% endif %}
        <div>
            <label for="quantidade" class="block text-sm font-medium text-gray-700">Quantidade Rolhas</label>
            <input type="number" id="quantidade" name="quantidade" class="mt-1 border border-gray-200 p-2 rounded-lg h-8 block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
        <div>
            <label for="data" class="block text-sm font-medium text-gray-700">Data</label>
            <input type="date" id="data" name="data" class="mt-1 border border-gray-200 p-2 rounded-lg h-8 block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
    </div>

    <div class="mt-6 flex flex-col gap-y-4">
        <button type="reset" id="add-item" class="mt-4 px-4 py-2 status-button por-pagar">Recomeçar</button>
        <button type="submit" class="px-4 py-2 status-button qb close-modal">Salvar</button>
    </div>
</form>

<script>
    document.getElementById('new-fornecimento-form').addEventListener('submit', function(e) {
        console.log("Submitting form...");
        var tipoRolha = document.getElementById('tipo').value;
        console.log("Selected Tipo Rolha: " + tipoRolha);

        // // Adicione uma condição para prevenir a submissão se o valor não estiver correto
        // if (!tipoRolha) {
        //     e.preventDefault();
        //     alert("Por favor, selecione um tipo de rolha.");
        // }
    });
</script>
{% endblock %}
