{% block content %}
<table id="tabela-clientes" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
    <thead class="bg-gray-50 dark:bg-gray-800">
        <tr>
            <th scope="col" class="table-header">Nome</th>
            <th scope="col" class="table-header">Tipo</th>
            <th scope="col" class="table-header">Telemóvel</th>
            <th scope="col" class="table-header">NIF</th>
            <th scope="col" class="table-header">Morada</th>
            <th scope="col" class="table-header">Total <i class="fas fas fa-wine-bottle ml-1 mt-1"></i></th>
            <th scope="col" class="table-header">Editar</th>
            <th scope="col" class="table-header">Encomendas</th>
        </tr>
    </thead>
    <tbody id="client-table" class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
        {% for cliente in clientes %}
        <tr>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <h2 class="font-medium text-gray-800 dark:text-white">{{ cliente.nome }}</h2>
                </div>
            </td>
            {% if cliente.tipo == "Particular" %}
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <button class="status-button particular">
                    Particular
                </button>
            </td>
            {% elif cliente.tipo == "Restaurante" %}
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <button class="status-button restaurante">
                    Restaurante
                </button>
            </td>
            {% elif cliente.tipo == "Distribuidor" %}
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <button class="status-button distribuidor">
                    Distribuidor
                </button>
            </td>
            {% endif %}
            <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div>
                    <h1>{{ cliente.telemovel }}</h1>
                </div>
            </td>
            <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div class="flex items-center">
                    <h1>{{ cliente.NIF }}</h1>
                </div>
            </td>
            <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div class="flex items-center">
                    <h1>{{ cliente.morada }}</h1>
                </div>
            </td>
            <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div class="flex items-center">
                    <h1>na</h1>
                </div>
            </td>
            <td class="px-4 py-4 text-sm whitespace-nowrap">
                <button class=" px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                    <i class="fas fa-pencil-alt text-black"></i>
                </button>
            </td>
            <td class="px-4 py-4 text-sm whitespace-nowrap flex justify-center mt-2">
                <button  data-modal-target="encomendasCliente" hx-get="tabelaEncomendas" hx-target="#modal-multiplasEnc" class="open-modal px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                    <i class="fas fa-expand-alt text-black"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
