{% block content %}
<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
    <thead class="bg-gray-50 dark:bg-gray-800">
        <tr>
            <th scope="col" class="table-header">Tipo de Vinho</th>
            <th scope="col" class="table-header">Data Engarrafamento</th>
            <th scope="col" class="table-header">Garrafas</th>
            <th scope="col" class="table-header">Caixas</th>
            <th scope="col" class="table-header">Garrafões</th>
            <th scope="col" class="table-header">Total <i class="fas fas fa-wine-bottle"></i></th>
            <th scope="col" class="table-header">Detalhes</th>
            <th scope="col" class="table-header">Editar</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
        {% for stock in stocks %}
        <tr>
            
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <button class="status-button {% if 'branco' in stock.denominacao|lower %}pago {% elif 'tinto' in stock.denominacao|lower %}restaurante  {% else %}por-pagar{% endif %}">
                    <h2 class="font-medium text-gray-800 dark:text-white ">
                        {% if stock.notacao %}
                            {{ stock.notacao }} - {{ stock.denominacao }}
                        {% else %}
                            Sem Notação - {{ stock.denominacao }}
                        {% endif %}
                    </h2>
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400"></p>
                </button>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <h2 class="font-medium text-gray-800 dark:text-white ">{{stock.dataEng}}</h2>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{stock.total_garrafas}}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{stock.total_caixas}}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{stock.total_garrafoes}}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{stock.total_garrafas_total}}</p>
                </div>
            </td>

            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap flex justify-center mt-2 mr-6">
                <button data-order-id="Total" data-modal-target="detalhesVinho" 
                        data-vinhoId="{{stock.id_tipoVinho}}"
                        hx-get="/vinhoUnico?id={{stock.id_tipoVinho}}" hx-target="#modal-detalhesVinho" class="open-modal px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100 open-modal">
                    <i class="fas fas fa-expand-alt text-gray-600"></i>
                </button>
            </td>
            
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <button class=" py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                        <i class="fas fa-pencil-alt text-black"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}