
<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
    <thead class="bg-gray-50 dark:bg-gray-800">
        <tr>
            <th scope="col" class="table-header">Data</th>
            <th scope="col" class="table-header">Volume L</th>
            <th scope="col" class="table-header">Tipo Vinho</th>
            <th scope="col" class="table-header">Cubas</th>
            <th scope="col" class="table-header">Nº Garrafas</th>
            <th scope="col" class="table-header">Nº Garrafões</th>
            <th scope="col" class="table-header">Editar</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
        {% for engarrafamento in engarrafamentos %}
        <tr>
            
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ engarrafamento.dataEng }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ engarrafamento.litragem }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400"> 
                        {% if engarrafamento.notacao %}
                            {{ engarrafamento.notacao }} - {{ engarrafamento.denominacao }}
                        {% else %}
                            {{ engarrafamento.denominacao }}
                        {% endif %}
                        </p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ engarrafamento.codigo_cuba}}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ engarrafamento.quantidade }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">0</p>
                </div>
            </td>

            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap flex justify-center mt-2 mr-6">
                <button data-order-id="Total" class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100 open-modal">
                    <i class="fas fas fas fa-pen text-gray-600"></i>
                </button>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>