
{% block content %}
<div id="cubas-table-body">
<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
    <thead class="bg-gray-50 dark:bg-gray-800">
        <tr>
            <th scope="col" class="table-header">ID</th>
            <th scope="col" class="table-header">Volume (L)</th>
            <th scope="col" class="table-header">Ocupação (L)</th>
            <th scope="col" class="table-header">Tipo Vinho</th>
            <th scope="col" class="table-header">Data</th>
            <th scope="col" class="table-header">Descrição</th>
            <th scope="col" class="table-header">Refrigerada</th>
            <th scope="col" class="table-header">Térmica</th>
            <th scope="col" class="table-header">Editar</th>
            <th scope="col" class="table-header">Apagar</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
        {% for cuba in cubas %}
        <tr>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.codigo }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.volume }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.volumeOcupado }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                {% if cuba.nomeVinho is not none %}
                <button class="status-button {% if 'branco' in cuba.nomeVinho|lower %}pago {% elif 'tinto' in cuba.nomeVinho|lower %}restaurante  {% else %}por-pagar{% endif %}">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.nomeVinho }}</p>
                </button>
                {% endif %}
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.dataArmazenado }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.descricao }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.refrigerada }}</p>
                </div>
            </td>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                <div class="flex flex-col justify-between">
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{ cuba.termica }}</p>
                </div>
            </td>

            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap flex justify-center mt-2 mr-6">
                <button  class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100 open-modal">
                    <i class="fas fas fas fa-pen text-gray-600"></i>
                </button>
            </td>

            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                {% if role == 'Administrador' %}
                <button class="text-lg open-delete-modal" 
                        data-modal-target="confirm-delete"
                        data-cuba-id="{{ cuba.codigo }}"
                        data-role="{{ role }}">
                    <i class="fas fas fas fa-trash text-red-400"></i>
                </button>
                {% else %}
                <button class="text-lg text-gray-400 open-alert-modal"
                        data-modal-target="alert-container"
                        data-role="{{ role }}">
                    <i class="fas fas fas fa-trash text-red-400"></i>
                </button>
                {% endif %}
            </td>


        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal for delete confirmation -->
<div id="confirm-delete" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-4 rounded-lg">
        <h2 class="text-lg font-semibold">Confirmação de Exclusão</h2>
        <p class="my-4">Queres mesmo excluir a cuba número <span id="cuba-id-span"></span>?</p>
        <div class="flex justify-end">
            <button id="close-modal" class="mr-4 px-4 py-2 bg-gray-300 text-gray-800 rounded-lg">Cancelar</button>
            <button id="confirm-delete-btn" class="px-4 py-2 bg-red-500 text-white rounded-lg">Excluir</button>
        </div>
    </div>
</div>



<script>
document.addEventListener('DOMContentLoaded', function() {
    const openDeleteModalButtons = document.querySelectorAll('.open-delete-modal');
    const openAlertModalButtons = document.querySelectorAll('.open-alert-modal');
    const closeModalButton = document.getElementById('close-modal');
    const confirmDeleteButton = document.getElementById('confirm-delete-btn');
    const modal = document.getElementById('confirm-delete');
    const cubaIdSpan = document.getElementById('cuba-id-span');
    let currentCubaId = null;

    openDeleteModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            currentCubaId = button.getAttribute('data-cuba-id');
            cubaIdSpan.textContent = currentCubaId; // Set the ID in the modal
            modal.classList.remove('hidden');
        });
    });

    openAlertModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            alert('Consultores não podem remover cubas.');
        });
    });

    closeModalButton.addEventListener('click', () => {
        modal.classList.add('hidden');
    });

    confirmDeleteButton.addEventListener('click', () => {
        if (currentCubaId) {
            fetch(`/cubaDelete`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `codigo=${currentCubaId}`
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Erro ao excluir a cuba.');
                }
            });
        }
    });
});
</script>


{% endblock %}