<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_red.png') }}">
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
</head>
<body>
    <nav class="bg-white rounded-lg shadow dark:bg-gray-800 justify-center">
        <div class=" mx-auto flex flex-wrap items-center justify-center py-4 text-gray-600 capitalize dark:text-gray-300">
            {% block navbar %}
            <!-- Links de navegação -->
            {% endblock %}
            <div class="nav-link p-4">
                <i class="fas fa-user"></i>
                <a>{{ username }}</a>
                <a>{{ role }}</a>
            </div>
        </div>
    </nav>
    {% include "./alertContainer.html" %}
    <div id="alert-container">
    </div>
    <div class="container mx-auto flex items-center mt-8">
        {% block content %}
        {% endblock %}
    </div> 
        <div id="orderModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <h2 class="text-xl mb-4">Detalhes da Encomenda</h2>
                <p>Aqui vão os detalhes da encomenda...</p>
                <button id="closeModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newOrderModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"> <div class="bg-white rounded-lg p-8">
            <div id="modal-encomenda">

                    <!-- content-->
                </div>
                <button id="closeModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>

        </div>
        <div id="newClientModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-cliente">
                    <!-- Content -->
                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg" onclick="closeModal()">Fechar</button>
            </div>
        </div>
        <div id="newFornecimentoModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-fornecimento">

                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newRolhaModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-rolha"></div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newFornecedorModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-fornecedor"></div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newEngarrafamentoModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-engarrafamento">
                    
                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newVinhoModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-vinho"></div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newCubaModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-cuba">

                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id= "encomendasCliente" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-multiplasEnc">
                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id= "detalhesVinho" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-detalhesVinho">
                    
                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="detalhesEncDiv" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-detalhesEnc">
                    
                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/nova-encomenda.js') }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://kit.fontawesome.com/b32138acf9.js" crossorigin="anonymous"></script>

    <script>
        function closeAlert() {
            var alertDiv = document.getElementById('alert');
            alertDiv.parentNode.removeChild(alertDiv);
        }
    </script>
    
    <script>
        
        function closeModal() {
            document.getElementById('newClientModal').classList.add('hidden');
        }
    
        document.querySelectorAll('.close-modal').forEach(button => {
            button.addEventListener('click', () => {
                closeModal();
            });
        });
    
        document.addEventListener('htmx:afterRequest', (event) => {
            if (event.detail.target.id === 'tabela-clientes') {
                closeModal();
            }
        });
    </script>
    <script>

        document.getElementById('add-item').addEventListener('click', () => {
            const itemsContainer = document.getElementById('items-container');
            const itemCount = itemsContainer.children.length + 1;
            const newItem = document.createElement('div');
            newItem.className = 'item grid grid-cols-4 space-x-4';

            newItem.innerHTML = `
                <div>
                    <label for="item-${itemCount}" class="block text-sm font-medium text-gray-700">Item</label>
                    <select id="item-${itemCount}" name="items[]" class="mt-1 border border-gray-200 p-1 rounded-lg block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
                        {% for vinho in tipos_vinho %}
                        <option value="{{vinho.id}}">{{ vinho.denominacao }}-{{vinho.id}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="quantity-caixas-${itemCount}" class="block text-sm font-medium text-gray-700">Quantidade Caixas <i class="fas fas fa-box-open"></i></label>
                    <input type="number" id="quantity-caixas-${itemCount}" name="quantities_caixas[]" class="mt-1 border border-gray-200 p-1 rounded-lg block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
                </div>
                <div>
                    <label for="quantity-garrafas-${itemCount}" class="block text-sm font-medium text-gray-700">Quantidade Garrafas <i class="fas fas fa-wine-bottle"></i></label>
                    <input type="number" id="quantity-garrafas-${itemCount}" name="quantities_garrafas[]" class="mt-1 border border-gray-200 p-1 rounded-lg block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
                </div>
                <div>
                    <label for="quantity-garrafoes-${itemCount}" class="block text-sm font-medium text-gray-700">Quantidade Garrafões <i class="fa-solid fa-jug-detergent"></i></label>
                    <input type="number" id="quantity-garrafoes-${itemCount}" name="quantities_garrafoes[]" class="mt-1 border border-gray-200 p-1 rounded-lg block w-full shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
                </div>
            `;

            itemsContainer.appendChild(newItem);
        });

        document.getElementById('remove-item').addEventListener('click', () => {
            const itemsContainer = document.getElementById('items-container');
            if (itemsContainer.children.length > 0) {
                itemsContainer.removeChild(itemsContainer.lastChild);
            }
        });

        document.getElementById('new-order-form').addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);

            fetch('/inserir_encomenda', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    alert('Encomenda inserida com sucesso!');
                    window.location.reload();
                } else {
                    alert('Erro ao inserir encomenda.');
                }
            }).catch(error => {
                console.error('Erro:', error);
                alert('Erro ao inserir encomenda.');
            });
        });
    </script>
</body>
</html>

