<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_red.png') }}">
</head>
<body>
    <nav class="bg-white rounded-lg shadow dark:bg-gray-800 justify-center">
        <div class="container mx-auto flex flex-wrap items-center justify-center py-4 text-gray-600 capitalize dark:text-gray-300">
            {% block navbar %}
            <!-- Links de navegação -->
            {% endblock %}
        </div>
    </nav>
    <div class="container mx-auto flex items-center mt-8">
        {% block content %}{% endblock %}

        <div id="orderModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <h2 class="text-xl mb-4">Detalhes da Encomenda</h2>
                <p>Aqui vão os detalhes da encomenda...</p>
                <button id="closeModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newOrderModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-encomenda">
                    <!-- content-->
                </div>
                <button id="closeModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newClientModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-cliente">

                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newFornecimentoModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-fornecimento">

                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newRolhaModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <h2 class="text-xl mb-4">Nova Rolha</h2>
                <p>Novos detalhes da encomenda serão exibidos aqui.</p>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newFornecedorModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <h2 class="text-xl mb-4">Novo Fornecedor</h2>
                <p>Novos detalhes da encomenda serão exibidos aqui.</p>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newEngarrafamentoModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <div id="modal-engarrafamento">

                </div>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newVinhoModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <h2 class="text-xl mb-4">Novo Vinho</h2>
                <p>Novos detalhes da encomenda serão exibidos aqui.</p>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
        <div id="newCubaModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8">
                <h2 class="text-xl mb-4">Nova Cuba</h2>
                <p>Novos detalhes da encomenda serão exibidos aqui.</p>
                <button id="closeNewOrderModal" class="close-modal mt-4 px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/encomendas.js') }}"></script>
    <script src="https://kit.fontawesome.com/b32138acf9.js" crossorigin="anonymous"></script>
</body>
</html>

