{% extends "base.html" %}

{% block title %}Fornecedores{% endblock %}

{% block navbar %}
<a href="{{ url_for('index') }}" class="nav-link">
    <i class="fas fa-home"></i> 
    <span>Home</span>
</a>
<a href="{{ url_for('clientes') }}" class="nav-link">
    <i class="fas fa-users"></i> 
    <span>Clientes</span>
</a>
<a href="{{ url_for('fornecedores') }}" class="nav-link" style="color: #1f2937; border-bottom-color: #c6f6d5; background-color: #f0fff4;">
    <i class="fas fa-truck"></i> 
    <span>Fornecedores</span>
</a>
<a href="{{ url_for('nova_encomenda') }}" class="nav-link">
    <i class="fas fa-plus-circle"></i> 
    <span>Nova Encomenda</span>
</a>
<a href="{{ url_for('encomendas') }}" class="nav-link">
    <i class="fas fa-box"></i> 
    <span>Encomendas</span>
</a>
<a href="{{ url_for('engarrafamentos') }}" class="nav-link">
    <i class="fas fa-wine-bottle"></i> 
    <span>Engarrafamentos</span>
</a>
<a href="{{ url_for('stock') }}" class="nav-link">
    <i class="fas fa-warehouse"></i> 
    <span>Stock</span>
</a>
{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold underline mt-6">
    Fornecedores
</h1>
<!-- Conteúdo específico para Fornecedores -->
{% endblock %}

