{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
<a href="{{ url_for('index') }}" class="nav-link bg-green-50" style="color: #1f2937; border-bottom-color: #c6f6d5;">
    <i class="fas fa-home"></i> 
    <span>Home</span>
</a>
<a href="{{ url_for('clientes') }}" class="nav-link">
    <i class="fas fa-users"></i> 
    <span>Clientes</span>
</a>
<a href="{{ url_for('fornecedores') }}" class="nav-link">
    <i class="fas fa-truck"></i> 
    <span>Fornecimentos</span>
</a>
<a href="{{ url_for('nova_encomenda') }}" class="nav-link">
    <i class="fas fa-plus-circle"></i> 
    <span>Nova Encomenda</span>
</a>
<a href="{{ url_for('encomendas') }}" class="nav-link">
    <i class="fas fa-box"></i> 
    <span>Encomendas</span>
</a>
<a href="{{ url_for('engarrafamentos') }}" class="nav-link">
    <i class="fas fa-wine-bottle"></i> 
    <span>Engarrafamentos</span>
</a>
<a href="{{ url_for('stock') }}" class="nav-link">
    <i class="fas fa-warehouse"></i> 
    <span>Stock</span>
</a>
<a href="{{ url_for('cubas') }}" class="nav-link">
    <i class="fas fas fa-database"></i> 
    <span>Cubas</span>
</a>
{% endblock %}

{% block content %}
<div class="container border border-l rounded-xl p-12 pt-8">
    <h1 class="text-3xl font-bold mb-5">
        Encomendas mais recentes
    </h1>
    <!-- component -->
    <section class="container px-4 mx-auto">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div>
                <div class="flex items-center gap-x-3">
                    <h2 class="text-lg font-medium text-gray-800 dark:text-white">Clientes</h2>
                    <span class="px-3 py-1 text-xs text-green-600 bg-green-100 rounded-full dark:bg-gray-800 dark:text-green-400">240 clientes</span>
                </div>
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">Estas pessoas compraram na ultima semana.</p>
            </div>
        </div>

        <div class="mt-6 md:flex md:items-center md:justify-between">
            <div class="relative flex items-center mt-4 md:mt-0">
                <span class="absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </span>
                <input type="text" placeholder="Search" class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-green-400 dark:focus:border-green-300 focus:ring-green-300 focus:outline-none focus:ring focus:ring-opacity-40">
            </div>
            <div class="relative flex items-center gap-x-3">
                <button class="action-button green open-modal"  data-modal-target="newOrderModal" hx-get="/novaForm" hx-target="#modal-encomenda" >
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Adicionar Encomenda</span>
                </button>
                <button class="action-button green open-modal" data-modal-target="newClientModal" hx-get="/clienteForm" hx-target="#modal-cliente">
                    <svg  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Adicionar Cliente</span>
                </button>
            </div>
        </div>

        <div class="flex flex-col mt-6">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <thead class="bg-gray-50 dark:bg-gray-800">
                                <tr>
                                    <th scope="col" class="table-header">
                                        <span class="table-header mr-2" style="padding: 0;">Cliente</span>
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </th>
                                    <th scope="col" class="table-header">
                                        Estado
                                    </th>
                                    <th scope="col" class="table-header">
                                        Notas
                                    </th>
                                    <th scope="col" class="table-header">Valor</th>
                                    <th scope="col" class="table-header">Data</th>
                                    <th scope="col" class="table-header">Número</th>
                                    <th scope="col" class="table-header">Faturada</th>
                                    <th scope="col" class="table-header flex">Total <i class="ml-1 fas fas fa-wine-bottle mt-1"></i></th>
                                    <th scope="col" class="table-header">Editar</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                <tr>
                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <div class="flex flex-col justify-between">
                                            <h2 class="font-medium text-gray-800 dark:text-white ">Alta Bêbado</h2>
                                            <p class="text-sm font-normal text-gray-600 dark:text-gray-400">1</p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <button class="status-button pago">
                                            Pago
                                        </button>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div>
                                            <p class="text-gray-700 dark:text-gray-200">Gostou bastante do frisante</h4>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>30</h1>
                                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">€</span>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>2024-05-10</h1>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>1</h1>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>Sim</h1>
                                        </div>
                                    </td>
                                    
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <button data-order-id="11" class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100 open-modal">
                                            <a class="space-x-1">10</a>
                                            <i class="fas fas fa-expand-alt text-gray-600"></i>
                                        </button>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <button class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                                            <i class="fas fas fa-pencil-alt text-black"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr class="bg-gray-50">
                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <div class="flex flex-col justify-between">
                                            <h2 class="font-medium text-gray-800 dark:text-white ">Alta Bêbado</h2>
                                            <p class="text-sm font-normal text-gray-600 dark:text-gray-400">1</p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <button class="status-button por-pagar ">
                                            Por Pagar
                                        </button>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div>
                                            <p class="text-gray-700 dark:text-gray-200">Gostou bastante do frisante</h4>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>30</h1>
                                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">€</span>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>2024-05-10</h1>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>1</h1>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center">
                                            <h1>Sim</h1>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <button data-order-id="10" class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100 open-modal">
                                            <a class="space-x-1">10</a>
                                            <i class="fas fas fa-expand-alt text-gray-600"></i>
                                        </button>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <button class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                                            <i class="fas fas fa-pencil-alt text-black"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Modal -->  
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 sm:flex sm:items-center sm:justify-between ">
            <div class="text-sm text-gray-500 dark:text-gray-400">
                Page <span class="font-medium text-gray-700 dark:text-gray-100">1 of 10</span> 
            </div>
            <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
                <a href="#" class="nav-button flex flex-row space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100 mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                    </svg>
                    <span>Previous</span>
                </a>
                <a href="#" class="nav-button flex flex-row space-x-1">
                    <span>Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100 mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg>
                </a>
            </div>
        </div>
    </section>
</div>



{% endblock %}
