
{% block content %}
<form id="new-fornecimento-form" class="bg-white p-6 rounded-lg shadow-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div >
            <label for="data" class="block text-sm font-medium text-gray-700">Data</label>
            <input type="date" id="data" name="data" class="mt-1 border border-gray-200 p-2 rounded-lg  h-8 block w-full h  shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
        <div>
            <label for="litragem" class="block text-sm font-medium text-gray-700">Litragem</label>
            <input type="number" id="litragem" name="litragem" class="mt-1 border border-gray-200 p-2 rounded-lg  h-8 block w-full h  shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
        <div>
            <label for="quantidade" class="block text-sm font-medium text-gray-700">Quantidade Garrafas</label>
            <input type="number" id="quantidade" name="quantidade" class="mt-1 border border-gray-200 p-2 rounded-lg  h-8 block w-full h  shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
        <div>
            <label for="cubas" class="block text-sm font-medium text-gray-700">Código Cubas</label>
            <input type="text" id="cubas" name="cubas" class="mt-1 border border-gray-200 p-2 rounded-lg  h-8 block w-full h  shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        </div>
    </div>

    <div class="mt-6 flex flex-col gap-y-4">
        <button type="reset" id="add-item" class="mt-4 px-4 py-2 status-button por-pagar ">Recomeçar</button>
        <button type="submit" hx-post="/rotaParaSalvar" hx-target="#resultado" hx-swap="outerHTML" class="px-4 py-2 status-button qb close-modal">Salvar</button>
    </div>
</form>


{% endblock %}