<!-- templates/_pagination.html -->
<div class="mt-6 sm:flex sm:items-center sm:justify-between">
    <div class="text-sm text-gray-500 dark:text-gray-400">
        Página <span id="current-page" class="font-medium text-gray-700 dark:text-gray-100">{{ page }}</span> de <span id="total-pages" class="font-medium text-gray-700 dark:text-gray-100">{{ total_pages }}</span>
    </div>
    <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
        <a id="prev-page" href="{{ url_for(endpoint, page=page-1 if page > 1 else 1, per_page=per_page) }}" class="nav-button flex flex-row space-x-1" {% if page <= 1 %}style="pointer-events: none; opacity: 0.5;"{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100 mt-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            <span>Previous</span>
        </a>
        <a id="next-page" href="{{ url_for(endpoint, page=page+1, per_page=per_page) }}" class="nav-button flex flex-row space-x-1" {% if page >= total_pages %}style="pointer-events: none; opacity: 0.5;"{% endif %}>
            <span>Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100 mt-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>
</div>

